body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

#alphabet-word {
    font-size: 3rem;
    color: #007bff;
}

.input-group .form-control {
    border-radius: 0.5rem;
}

.btn-primary {
    border-radius: 0.5rem;
}

#score p {
    font-size: 1.2rem;
    color: #343a40;
}

#alphabet-feedback {
    font-size: 1.2rem;
    color: #dc3545;
}

.alphabet-input {
    width: 100%; 
    display: block;
    height: 56px;
}

.alphabet-button {
    width: 100%; 
    display: block;
    height: 46px;
}

.custom-primary-font {
    color: rgb(25, 118, 210);
}

.custom-primary-button {
    background-color: rgb(25, 118, 210);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    border: 0;
    border-radius: 4px;
}

.container {
    width: 65%;
}

.score-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.score-container p {
    font-size: 1.25rem !important;
}


